<form action="/create-folder" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">
    <% console.log(locals.currentFolderId) %>
    <input type="hidden" name="parentId" value="<%= locals.currentFolderId %>">

    <button type="submit">Create Folder</button>
</form>